:root{

        --first-color: #212121;
        --second-color:#3a4042 ;
        --third-color:#50717b;
        --fourth-color:#8ecccc;
        --fivth-color:rgba(255, 255, 255, 0.806);
      
}
body{
    background-color: var(--first-color);
    
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
   
}
.navi{
    background-color:var(--second-color) ;
    display: flex;
    flex-wrap: wrap;
    color: var(--third-color);
    flex-direction: row;
    justify-content: space-between;
}
.navi-list{
    margin-right: 40px;
}
.navi-list ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.navi-list ul li a {
    text-decoration-line: none;
    list-style: none;
    color: var(--fourth-color);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--third-color);
    padding: 10px;
}
.navi-list ul li a:hover{
    background-color: var(--third-color);
    color: white;
}
.navi-list ul li {
    list-style: none;
    margin: 10px;
}
.contact-data a{
text-decoration-line:none ;
color: var(--fourth-color);
margin-top: 10px;
padding: 10px;
}
.contact-data{
    margin-top: 24px;
    margin-left:40px;
    padding: 10px;
}
#home{
    display: flex;
    flex-direction: row;
    background-color: var(--first-color);
}

.carousel-folie{
    width: 60%;
    margin-left: 20px;
    padding: 20px;
    
}
.folie-description{
    margin: 10px;
    padding: 10px;
    color: var(--fourth-color);
    font-size: 40px;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:backwards;
    animation-delay: 1s;
}

h1{
    color: var(--fourth-color);
    font-size: 40px;
}
.folie-advantages{
    color: var(--fourth-color);
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:backwards;
    animation-delay: 2s;

}
@keyframes slide {
    0%{margin-top: 150px; opacity: 0.5;}
    100%{margin-top: 40px; opacity: 1;}
    
}
.folie-advantages li{
    list-style: none;
    margin: 20px;
    padding: 10px;

}
.folie-advantages li a{
    text-decoration-line: none;
    border: 2px solid var(--third-color);
    color: var(--fourth-color);
    padding: 10px;
    border-radius: 1%;
    font-size: 20px;
  
    
}
.folie-advantages li a:hover{
    background-color: var(--third-color);
    color: var(--fivth-color);
    transition: 2s ease;
}
@keyframes fadein {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}
#lackshutzfolie{
    background-color: var(--second-color);
}
.lackschutzfolie-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--second-color);
    color:var(--fourth-color)
}
.lackschutzfolie-main h2{
    width: 30%;
    margin: 60px;
}
.lackschutzfolie-main p{
    margin: 60px;
    width: 50%;
}
.lackschutzfolie-second{
    display: flex;
    flex-direction: row;
    background-color: var(--first-color);
    position: relative;

}
.lackschutzfolie-second img{
    width: 60%;
    margin: 20px;
}
.lackschutzfolie-second img:hover{
    margin: 30px;
    transition: 1s ease-in-out;
}
.lackschutzfolier-second-b img{
    position: absolute;
    top: -60px;
    right: 200px;
    width: 25%;
}
.lackschutzfolier-second-b img:hover{
    right: 150px;
    top: -45px;
    transition: 1s ease-in-out;
}
.lackschutzfolier-second-b p{
    margin: 20px;
    padding: 20px;
    color: var(--fourth-color);
    position: absolute;
    bottom: 30px;
    font-size: 18px;
}
.lackschutzfolie-third{
    color: var(--fourth-color);
    font-size: 35px;
}
.lackschutzfolie-third h2{
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 45px;
    
}
.lackschutzfolie-third-a{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
}
.lackschutzfolie-third-a:hover{
    margin: 40px;
    transition: 1s ease-in-out;
}
.lackschutzfolie-third-a img{
    width: 50%;
}
.lackschutzfolie-third-a p{
    margin-left: 40px;
    width: 40%;
    padding: 20px;
    font-size: 21px;
}
.lackschutzfolie-fourth{
    background-color: var(--first-color);
    color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lackschutzfolie-fourth h2{
    margin: 20px;
    padding: 10px;
    font-size: 35px;

}
.lackschutzfolie-fourth p{
    width: 60%;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
}
.lackschutzfolie-fourth-a{
    display: flex;
    flex-direction: row;
    background-color: var(--first-color);
    color: var(--fourth-color);
    margin-top: -20px;
    font-size: 18px;

}
.lackschutzfolie-fourth-a img{
    width: 40%;
    margin: 20px;
    padding:20px;
}
.lackschutzfolie-fourth-b{
    margin: 30px;
    padding: 20px;
    width: 50%;
}
.lackschutzfolie-fourth-b:hover{
   
   margin: 40px;
   padding: 40px;
   transition: 1s ease-in-out;
}
.lackschutzfolie-fourth-b p{
    margin-top: 50px;
  
}
.lackschutzfolie-five{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    font-size: 20px;
    color: var(--fourth-color);
    width: 100%;
}
.lackschutzfolie-five-a span{
    font-size:50px ;
    margin: 10px;
}
.h-classe{
    font-size: 40px;
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.lackschutzfolie-five-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 1px solid var(--third-color);
    border-radius: 10%;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 40px;
}
.lackschutzfolie-five-a:hover{
 background-color: var(--third-color);
 color: var(--fivth-color);
 margin-left: 50px;
 transition: 1s ease-in-out;
}
#about{
    background-color: var(--first-color);
    color: var(--fourth-color);
    display: flex;
    flex-direction: column;

}
#about{
    margin: -20px;
}
#about h2{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.about-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
}
.about-photo:hover{
    justify-content: space-between;
    transition:1s ease-in-out;
}
.about-photo img{
    width: 30%;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
    color: var(--fourth-color);
}
.about-text h3{
    font-size: 30px;
}
.about-text p{
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}
.team{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 20px;
   margin-top: 70px;
   
   
}
.team-about{
    width:20%;
    position: relative;
}
.team-about .team-a{
    position:absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#3a40427b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition:opacity 0.5s;
}

.team-about .team-a:hover{
    opacity: 1;
}

.team-about img{
    width: 100%;
    margin-bottom: 20px;
}
#contact{
    background-color: var(--second-color);
    display: flex;
    flex-direction: row;
    color: var(--fourth-color);
    justify-content: center;
    align-items: center;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  
  form{
    margin-top: 30px;
    width: 50%;
    padding: 10px;
    margin-left: 55px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: var(--third-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: var(--first-color);
  }
  input:focus{
    background-color: var(--third-color);
    color: var(--fivth-color);
  }
  textarea:focus{
    background-color: var(--third-color);
    color: var(--fivth-color);
  }
  .contact-a {
    margin-top: 50px;
    margin-right: 40px;
  }
  .adress{
    margin-right: 40px;
    padding: 40px;
  }

.contact-daten p a{
    text-decoration-line: none;
    color: var(--fourth-color);
}
.footer-data{
    background-color:var(--first-color) ;
    display: flex;
    flex-wrap: wrap;
    color: var(--third-color);
    flex-direction: row;
    justify-content: space-between;
}
.footer-list{
    margin-right: 40px;
}
footer p {
    margin-top: 40px;
    color: var(--fourth-color);
}
.footer-list ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.footer-list ul li a {
    text-decoration-line: none;
    list-style: none;
    color: var(--fourth-color);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-list ul li {
    list-style: none;
    margin: 10px;
}
@media (min-width:900px)and (max-width: 1150px){
    .carousel-folie{
        width: 40%;
        margin-left: 20px;
        padding: 20px;
        
    }
    .folie-advantages ul li a{
        padding: 2px;
        width: 60%;
          
    }
    .lackschutzfolie-third-a{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .lackschutzfolie-third-a img{
        width: 100%;
    }
    .lackschutzfolie-third-a p{
        width: 100%;
    }
    .lackschutzfolie-third-a:hover{
        margin: 10px;
        transition: 1s ease-in-out;
    }
}
@media (max-width: 900px){
    .navi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel-folie{
        width: 100%;
        margin: 20px;
        padding: 20px;
        
    }
    .lackschutzfolie-main{
        display: flex;
        flex-direction: row;

        width: 100%;
      
    }
    .lackschutzfolie-main h2{
        width: 30%;
        margin: 20px;
    }
    .lackschutzfolie-main p{
        margin: 20px;
        width: 50%;
    }
    .lackschutzfolie-second{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }
    .lackschutzfolier-second-b{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 180px;
    }
    .lackschutzfolier-second-b img{
       width: 35%;
       margin-right: -180px;
       margin-top: 80px;
       display: inline;
       
    }
  
    .lackschutzfolier-second-b p{
        padding: 20px;
        display: inline;
        font-size: 18px;
        width: 100%;
        bottom: 10px;
        font-weight: 400;
    }
    .lackschutzfolie-second img:hover{
        width: 35%;
        margin-right: -160px;
        margin-top: 80px;
        display: inline;
    }
    .lackschutzfolie-third-a{
        display: flex;
        flex-direction: column;
       
    }
    .lackschutzfolie-third-a img{
        width: 100%;
        margin: 10px;
    }
    .lackschutzfolie-third-a p{
        width: 100%;
        margin: 10px;
    }
    .lackschutzfolie-fourth-a{
        display: flex;
        flex-direction: column;
    }
    .lackschutzfolie-fourth-a img{
        width: 100%;
        margin: 10px;
    }
    .lackschutzfolie-fourth-b{
        margin: 30px;
        padding: 20px;
        width: 100%;
    }
    .lackschutzfolie-five{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        font-size: 20px;
        color: var(--fourth-color);
        width: 100%;
    }
    .lackschutzfolie-five-a span{
        font-size:50px ;
        margin: 10px;
    }
    .h-classe{
        font-size: 40px;
        color: var(--fourth-color);
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 10px;
    }
    .lackschutzfolie-five-a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        border: 1px solid var(--third-color);
        border-radius: 10%;
        margin: 30px;
        padding: 10px;
        margin-bottom: 40px;
    }
    .lackschutzfolie-five-a:hover{
     margin: 35px;
     transition: 1s ease-in-out;
    }
    .team{
        display: flex;
        flex-direction: column;

    }
    .team-about{
        width: 100%;
        margin: 20px;
        padding: 20px;
    }
    .team-a h3{
        font-size: 45px;
    }
    #contact{
        flex-direction: column;
        display: flex;
    }
    .contact-a{
        width: 100%;
        margin: 20px;
        padding: 20px;
        align-items: center;
        display: flex;
    }
    form{
        width: 100%;
        margin: 20px;
        padding: 20px;
    }
    .footer-data{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}